@model IEnumerable<Order>
@{
}
<div style="width:100%" class="mt-2">
    <a href="/Identity/Account/Manage" class="btn btn-primary my-2">Geri</a>

    <h4>Siparişlerim</h4>
    @if (Model != null && Model.Count() > 0)
    {
        <table class="table table-striped">
            <tr>
                <th>Sipariş Tarihi</th>
                <th>Sipariş Durumu</th>
            </tr>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.CreateDate.ToString("dd-MM-yyyy")</td>
                    <td>@order.OrderStatus.StatusName</td>
                </tr>
                @if (order.OrderDetail != null && order.OrderDetail.Count > 0)
                {
                    <tr>
                        <td>
                            <table class="table table-striped">
                                <tr>
                                    <td>
                                        Toplam:
                                    </td>
                                    <td>
                                        @(order.OrderDetail.Select(item => item.Product.Price * item.Quantity).Sum())
                                        TL
                                    </td>
                                </tr>
                                <tr>
                                    <th>Ürün</th>
                                    <th>Resim</th>
                                    <th>Tipi</th>
                                    <th>Birim Fiyatı(Try)</th>
                                    <th>Toplam Fiyatı</th>
                                </tr>
                                @foreach (var item in order.OrderDetail)
                                {
                                    <tr>
                                        <td>@item.Product.Name</td>
                                        <td>
                                            <img src="@item.Product.imageUrl" style="width:80px;height:100px" />
                                        </td>
                                        <td>@item.Product.Type</td>
                                        <td>@item.Product.Price X @item.Quantity</td>
                                        <td> @(item.Product.Price * item.Quantity) </td>
                                    </tr>
                                }
                            </table>
                        </td>
                    </tr>
                }
            }
        </table>

    }
    else
    {
        <h5>No orders</h5>
    }
</div>




